# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio local caches and user settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ipch

# Visual Studio build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.ilk
*.pdb
*.tlog
*.lastbuildstate
